@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to UMS";
}

<div style="text-align: center; margin-top: 50px;">
    <h1 style="font-size: 36px; font-weight: bold;">Welcome to UMS</h1>
    <img src="https://unsplash.com/photos/jJqrIVIMAmY/download" alt="UMS Photo" style="max-width: 100%; margin-top: 20px;" />
    <p style="font-size: 18px; margin-top: 20px;">
        The University's Management System (UMS) is a comprehensive platform designed to efficiently manage courses, students,
        departments, and instructors for administrative purposes. It provides essential functionalities such as adding,
        removing, deleting, and viewing information to streamline the management processes of the university.
    </p>
</div>