@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At the University's Management System (UMS), we take your privacy seriously. This Privacy Policy outlines the types
    of personal information we collect and how it is used. Please read this policy carefully to understand our practices
    regarding your personal data.
</p>

<h2>Information We Collect</h2>
<p>
    We collect information that you provide directly to us, including but not limited to, your name, email address, and
    any other information you choose to provide.
</p>

<h2>How We Use Your Information</h2>
<p>
    The information we collect is used to manage courses, students, departments, and instructors for administrative purposes.
    We may also use your information to communicate with you, respond to your inquiries, and improve our services.
</p>

<h2>Security</h2>
<p>
    We take reasonable measures to protect your personal information from unauthorized access or disclosure. However, no
    method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute
    security.
</p>

<h2>Third-Party Links</h2>
<p>
    Our website may contain links to third-party websites. Please be aware that we are not responsible for the content or
    privacy practices of such sites. We encourage you to read the privacy policies of any third-party websites you visit.
</p>

<h2>Changes to This Privacy Policy</h2>
<p>
    We reserve the right to update this Privacy Policy from time to time. Any changes will be effective immediately upon
    posting the revised policy on this page.
</p>

<p>
    If you have any questions or concerns about our Privacy Policy, please contact us at privacy@ums.edu.
</p>
